<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>Connection à la chataigneraie</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
    <link rel="stylesheet" href="connection/connection.css"/>
</head>

<body>

<div class="container">

  <div class="text-center py-5 px-3">

    <img src="connection/logo.png" class="img-fluid" alt="...">

    <form id="connection-form" role="form" action="{{ path('post_connection') }}" method="post">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <input class="btn btn-primary mt-3" type="submit" value="Connecter">
    </form>

  </div>

</div>

<script src="assets/bootstrap.bundle.min.js"></script>

</body>
</html>
