{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Entreprises{% endblock %}

{% block utilisateur %}{{ login }}{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
<div class="row row-cols-1 row-cols-md-3 g-4">

{% for util in utilisateurs %}
  <div class="col">
    <div class="card h-100">
      <!--<img src="..." class="card-img-top" alt="...">!-->
      <div class="card-body">
        <h5 class="card-title">{{ util.entRs }}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ville</li>
            <li class="list-group-item">Pays</li>
            <li class="list-group-item">Spécialité</li>
        </ul>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Plus d'informations</a>
      </div>
    </div>
  </div>
{% endfor %}
 </div>
 
{% endblock %}
