{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Entreprises{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
    <span>{{ login }}</span>
{% endblock %}
