{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Professionnels{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
   
    <table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
    </tr>
  </thead>
  <tbody>
   {% for pers in personnes %}
    <tr>
      <td> {{ pers.perNom }} </td>
      <td>{{ pers.perPrenom}}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>

{% endblock %}

