{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Professionnels{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
    <span>{{ login }}</span>
    <p> La page professionnel fonctionne bien ! </p>
{% endblock %}

