{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Utilisateurs{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
<form id="utilisateur_ajt_form" action="{{ path("add_utilisateurs") }}" method="POST" class="row g-3">
  <div class="col-auto">
    <label class="form-control-plaintext">Enregistrer un nouvel utilisateur : </label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="utiLogin" placeholder="Login">
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="utiMdp" placeholder="Mot de passe">
  </div> 
  <div class="col-auto">  
  <select name="utiDroit" class="form-select">
                    <option value="0">Professeur</option>
                    <option value="1">Administrateur</option>
  </select>
  </div> 
  <!--<div class="col-auto">
    <input type="text" class="form-control" name="utiDroit" placeholder="Droit">
  </div>    !-->
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Valider</button>
  </div>
</form>
<div class="container">
    <table class="table table-hover table-striped text-center align-middle">
        <thead>
            <tr>
              <th class = "col-md-4">Login</th>
              <th class = "col-md-4">Droit</th>
              <th class = "col-md-3"></th>
            </tr>
        </thead>
        <tbody>
              {% for util in utilisateurs %}
              <tr>
                <td> {{util.utiLogin}}</td>
                <td> {% if util.utiDroit == true %} Administrateur {% else %} Professeur {% endif %} </td>
                <td>
                  <div class="col-12">
                    
                    <a href="{{ path("suppr_utilisateurs", {"id" : util.id}) }}">
                    <img src="professionnel/Supp.png" class="rounded" width="10%" alt="...">
                    </a> 
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

