{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Utilisateurs{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
<form action="{{path("post_utilisateurs")}}" method="POST" class="row g-3">
  <div class="col-auto">
    <label class="form-control-plaintext">Enregistrer un nouvel utilisateur</label>
    <input type="text" readonly class="form-control-plaintext" id="Name" >
  </div>
  <div class="col-auto">
    <label  class="visually-hidden"></label>
    <input type="login" class="form-control" id="NewLogin" placeholder="Login">
  </div>
  <div class="col-auto">
    <label  class="visually-hidden"></label>
    <input type="label" class="form-control" id="NewName2" placeholder="Droit">
  </div>    
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Valider</button>
  </div>
</form>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Droit</th>
                <th scope="col">Login</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>0</td>
                <td>nlevacher</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>1</td>
                <td>kdubois</td>
            </tr>
        </tbody>
    </table>


{% endblock %}

